.form-control{
    width: 230px;
}
.parrafo{
font-size: 10px !important;
}
.containerBtnFooter{
margin-left: -60px !important;
.btn{
    color: white;
}
}
.containerInput{
width: 580px;
margin: 0 auto;
}
.containerFooter{
p{
    color: white;
    font-size: 12px;
}
.logoBookmark{
    width: 100px;
}

}

.logoRedes{
width: 15px;
}
.containerLogoBookmark{
position: relative;
}
.containerTexto{
position: absolute;
margin-top: 7px;
width: 13%;
z-index: 1;
}