@media (max-width: 768px){
    .containerBookmark{
    text-align: center;
    margin-left: 5px !important;
    }
    .containerBookmark2{
    margin-top: 120px;
    }
    .listaFeatures{
        border-top: 1px solid gray;
    }
    #btnInfo{
        display: none;
    }
    .active{
        border-bottom: none !important;
        a {
            border-bottom: 4px solid $success;
            padding-bottom: 7px;
            z-index: 1;
        }
    }

    .accordion-item{
        width: auto;
    }
    .card{
        margin-right: 50px;
        width: 250px;
        margin-left: 50px;
        &:nth-child(3) {
            margin-top: 30px;
        }
    }
     
        
    .form-control{
        width: 90%;
        margin: 0 auto;
    }
    .containerBtnFooter{
        margin-left: 16px !important;
        .btn{
            width: 90%;
            margin-top: 10px;
        }
    }
    .containerTexto{
        width: 73%;
    }
    #textoBookmark{
        margin-left: 185px;
    }
    
}

@media (max-width: 576px){ 
    .containerFondo{
        top: 4em;
    }
    .containerFondo2{
        top: 5em;
    }
    .containerBookmark{
        margin-top: 100px;
    }
    .containerTexto{
        width: 86%;
    }
    #textoBookmark{
        margin-left: 60px;
    }
}

