$primary: #5265E1;
$success: #FA5959;
$secondary: #f7f7f6;
$accordion-icon-color:$primary;
$card-box-shadow: 1px 1px 4px $primary;
$box-shadow: 0px 1px 2px;
$dark: #242946;
$accordion-icon-active-color: $success;
